# This workflow will download a prebuilt Ruby version, install dependencies and
# run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: CI

"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
  CUCUMBER_PUBLISH_QUIET: true

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: ["3.2", "3.3", "3.4"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Configure git user
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
      - name: Install builder gem
        run: gem install builder
      - name: Run tests
        run: bundle exec rake

  rubocop:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop -P
